@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Italiana&display=swap');

:root {

	--heading-font: "Italiana", sans-serif;
	--text-font:  "Inter Tight", sans-serif;

	--base-size: 15px;
	--gutter-size: 24px;
	--small-gutter-size:calc(2*var(--base-size));

	--color--primary: #383838;
	--color--secondary: white;
	--color--grey: #e5e5e5;
	--color--red: #CB4A28;
	--color--background: #F7F7F7;

	font-size: var(--base-size);
}

@media (min-width:600px){
	:root{
		--base-size: 16px;
		--gutter-size: 100px;
	}
}

body{
	background-color: var(--color--background);
	color: var(--color--primary);
	overflow-x: hidden; 
}

canvas{
	display: none;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 24px;
	background-color: var(--color--red);
	padding-inline: var(--gutter-size);
}

#portfoliolink:hover{
	text-decoration: underline;
}

header{
	background-color: var(--color--red);
	padding-top: calc(4*var(--gutter-size));
	height: 90vh;
	padding-inline: var(--gutter-size);
}

h1{
	font-family: var(--heading-font);
	color: var(--color--secondary);
	font-size: calc(4.5*var(--base-size));
	padding-bottom: calc(0.5*var(--gutter-size));
	width: 60vw;
	line-height: 1.2;
}

#intro{
	font-size: var(--base-size);
	padding-bottom: var(--gutter-size);
	padding-top: calc(4*var(--gutter-size));
}

h2{
	font-family: var(--heading-font);
	color: var(--color--red);
	font-size: calc(4*var(--base-size));
	padding-bottom: calc(0.5*var(--gutter-size));
}

h3{
	font-family: var(--heading-font);
	color: var(--color--secondary);
	font-size: 26px ;
	/* number from Framer */
}

p{
	font-family: var(--text-font);
	color: var(--color--secondary);
	font-size: var(--base-size);
	font-weight: 200;
}

#main-content{
	block-size: 85vh;
	padding-block: calc(1*var(--gutter-size));
	color: var(--color--primary);
	padding-inline: var(--gutter-size);
}

#main-content p{
	color: var(--color--primary);
}


ul, li p{
	padding-block: var(--base-size);
	color: var(--color--primary);
	font-size: calc(2*var(--base-size));
}

a{
	gap: var(--gutter-size);
	display: flex;
	align-items: center;
}

li a:hover p{
	color: var(--color--red) !important;
}

.preview{
	display: none;
	position: absolute;
	left: calc(5*var(--gutter-size));
	top: 110vh;
}

li:nth-of-type(2) .preview {
	top: 115vh;
	left: calc(6*var(--gutter-size));
}

li:nth-of-type(3) .preview {
	top: 120vh;
}

li:nth-of-type(4) .preview {
	top: 125vh;
	left: calc(6*var(--gutter-size));
}

li:nth-of-type(5) .preview {
	top: 130vh;
}

img, video{
	border: 1px solid var(--color--red);
	aspect-ratio: 16/9;
	width: 50vw;
	height: auto;
}

li:hover .preview {
	display: block;
  }

footer{
	display: flex;
	padding-block: calc(2*var(--base-size));
	padding-inline: var(--gutter-size); 
	justify-content: space-between;
	border-top: 1px solid var(--color--grey);
}

footer p{
	color: var(--color--red);
	font-weight: 300;
}

footer p:nth-child(1){
	color: var(--color--primary);
}

#githublink:hover{
	text-decoration: underline;
}

.gutters{
	/* inline: both sides left and right*/
	/* block: both sides up and down*/
	padding-block: calc(var(--gutter-size)*0.5);
}

#link{
	display: flex;
	gap: var(--base-size);
}

.email{
	font-family: var(--heading-font);
	font-size: calc(1.5*var(--base-size));
}


@media (min-width:600px){

	h1{
		font-size: calc(7*var(--base-size));
		line-height: 0.95;
	}

	header{
		padding-top: var(--gutter-size);
	}

	canvas{
		display: block;
	}

	nav{
		padding-top: 27px;
	}

	#intro{
		padding-top: 0px;
		padding-bottom: calc(0.5*var(--gutter-size));
	}
}